<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.spring.project.mappers.AdminMapper">

<!-- 로그인 -->
<select id="adminLogin" resultType="Member">
select * from ${tblMember} 
where ${colGrade} = 'admin'
and ${colUserid} = #{userid}
and ${colPassword} = #{password}
</select>

<!-- 회원 상세정보 조회 -->
<select id="MemberSelectById" resultType="Member">
select * from ${tblMember}
where ${colUserid} = #{userid}
</select>

<!-- 회원 리스트 조회 -->
<select id="MemberSelectAll" resultType="Member">
select * from ${tblMember}
</select>

<!-- 회원 정보 수정 -->
<update id="DetailUpdate">
update ${tblMember} 
set ${colUserid} = #{userid} ,${colPassword} = #{password}, ${colEmail} = #{email}, ${colNickname} = #{nickname} 
where ${colUserid} = #{userid}
</update>

<!-- 회원 삭제 -->
<delete id="MemberDelete">
delete from ${tblMember}
where ${colUserid} = #{userid}
</delete>
 
<!-- 회원 권한 수정 -->
<update id="MemberGradeUpdate">
update ${tblMember}
set ${colGrade} = #{grade}
where ${colUserid} = #{userid}
</update>


<!-- //////////////////////////////////// 밑으로 Board 영역 -->

<!-- video 게시판 조회 -->
<select id="BoardContentsSelectAll" resultType="BoardContents">
select * from ${tblContents} 
</select>

<select id="BoardContentsSelectAll2" resultType="BoardContents">
select b.bno, b.title, b.regdate, b.count, b.category
from (
    select rownum rn, a.*
    from (
        select * from ${tblContents}
        order by ${colCount} desc
    )a
) b
where rn between #{start} and #{end}
</select>

<!-- 자유 게시판 조회 -->
<select id="BoardFreeSelectAll" resultType="BoardFree">
select b.fbno, b.ftitle, b.fregdate, b.fcount
from (
    select rownum rn, a.*
    from (
        select * from ${tblFree}
        order by ${colFcount} desc
    )a
) b
where rn between #{start} and #{end}
</select>

<!-- 게시글 수정/삭제를 위한 카테고리별 게시판 조회 -->
<select id="selectByConCategory" resultType="BoardContents">
select b.bno, b.title, b.regdate, b.count, b.category
from (
    select rownum rn, a.*
    from (
        select * from ${tblContents}
        where ${colCategory} = #{category}
        order by ${colCount} desc
    )a
) b
where rn between #{obj.start} and #{obj.end}
</select>

<!-- Contents 한개 조회 -->
<select id="boardConDetail" resultType="BoardContents">
select * from ${tblContents} where ${colBno} = #{bno}
</select>

<!-- Free 한개 조회 -->
<select id="boardFreeDetail" resultType="BoardFree">
select * from ${tblFree} where ${colFbno} = #{fbno}
</select>

<!-- Con 게시물 삭제 -->
<delete id="boardConDelete">
delete from ${tblContents}
where ${colBno} = #{bno}
</delete>

<!-- Free 게시물 삭제 -->
<delete id="boardFreeDelete">
delete from ${tblFree}
where ${colFbno} = #{fbno}
</delete>

<!-- 게시글 수정  Free -->
<update id="boardFreeUpdate">
update ${tblFree}
set ${colFtitle} = #{ftitle} , ${colFcontent} = #{fcontent}
where ${colFbno} = #{fbno}
</update>

<!-- 게시글 수정  Con -->
<update id="boardConUpdate">
update ${tblContents}
set ${colCategory} = #{category} , ${colTitle} = #{title}, ${colContent} = #{content}
where ${colBno} = #{bno}
</update>



<select id="totalCount" resultType="Integer" >
	select count(${colBno}) cnt from ${tblContents}
</select>


<select id="FreeTotalCount" resultType="Integer">
select count(${colFbno}) cnt from ${tblFree}
</select>

<select id="ConTotalCount" resultType="Integer">
select count(${colBno}) cnt from ${tblContents}
where ${colCategory} = #{category}
</select>


<!-- //////////////////////////////////// menu 영역  -->

<!-- 메뉴 조회 -->
<select id="selectMenu" resultType="Menu">
select * from ${tblMenu}
</select>

<select id="showMenu" resultType="Menu">
select * from ${tblMenu} where ${colHideandshow} = 'show'
</select>


<!-- 상세 조회 -->
<select id="detailMenu" resultType="Menu">
select * from ${tblMenu} where ${colMnum} = #{mnum}
</select>

<!-- 메뉴 수정 -->
<update id="updateMenu">
update ${tblMenu}
set ${colMenuname} = #{menuname}, ${colHideandshow} = #{hideandshow}
where ${colMnum} = #{mnum}
</update>

<!-- 메뉴 넣기 -->
<insert id="insertMenu">
insert into ${tblMenu} (${colMenuname},${colHref}, ${colHideandshow})
values(#{menuname},#{href},#{hideandshow})
</insert>



</mapper>












