<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.spring.project.mappers.MemberMapper">
 
 <!-- 회원 가입 -->
<insert id="memberInsert">
	insert into ${tblMember} (${colUserid} , ${colPassword} , ${colEmail} , ${colNickname}, ${colGrade})
	values (#{userid} , #{password} , #{email} , #{nickname}, #{grade})
</insert>

<select id="idCheck" resultType="Member">
select * from ${tblMember} where ${colUserid} = #{userid}
</select>

<select id="login" resultType="Member">
select * from ${tblMember} where ${colUserid} = #{userid} and ${colPassword} = #{password}
</select>

<select id="detail" resultType="Member">
select * from ${tblMember}
where ${colUserid} = #{userid}
</select>

<update id="detailupdate">
update ${tblMember} 
set ${colPassword} = #{password}, ${colEmail} = #{email}, ${colNickname} = #{nickname} 
where ${colUserid} = #{userid} 
</update>

<delete id="memberdelete">
delete from ${tblMember}
where ${colUserid} = #{userid}
</delete>

<select id="memberFindInfo" resultType="Member">
select * from ${tblMember}
where 
	<choose>
		<when test="nickname != null">
			${colNickname} = #{nickname}
		</when>
		<when test="userid != null">
			${colUserid} = #{userid}
		</when>
	</choose>
		and ${colEmail} = #{email}
</select>

<update id="setTempPw">
update ${tblMember}
set ${colPassword} = #{password}
where ${colUserid} = #{userid}
</update>

</mapper>












