<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.mappers.ReplyMapper">

	<select id="selectReplyConBybno" resultType="ReplyContents">
		select * from ${tblReplycontents} where ${colBno} = #{bno} order by rno desc
	</select>
	
	<insert id="insertReplyCon">
		insert into ${tblReplycontents} (${colBno}, ${colContent},
		 ${colRegdate}, ${colUserid}, ${colRrno}) 
		 values (#{bno}, #{content}, sysdate, #{userid}, 0)
	</insert>
	
</mapper>